{% extends 'base.html' %}
{% block page %}
<div class="row-fluid marketing">
        <div class="span4">
        </div>
        <div class="span4">
          <a href="/img/{{image}}"><img src='/img/{{image}}' alt='{{image}}'></a>
          <br><br>
          <h4 id="name"></h4>
        </div>

        <div class="span4">
          <ul class="list-group">
            <li class="list-group-item"><a href="/img/{{image}}">Link to the image</a></li>
            <li class="list-group-item">Total hits: <span id="clicks"></span></li>
            <li class="list-group-item">Likes <a href="#" id="ll"><span id="likes"></span> <i class="glyphicon glyphicon-thumbs-up"></i></a></li>
            <li class="list-group-item">Dislikes <a href="#" id="dl"><span id="dislikes"></span> <i class="glyphicon glyphicon-thumbs-down"></i></a></li>
        </ul>
        </div>
      </div>
    <br><br><br>
    <script>
        load_image_data = function(){
            $.get('/imgdata/{{image}}', function(data) {
                $('#name').html(data.name);
                $('#clicks').html(data.clicks);
                $('#likes').html(data.likes);
                $('#dislikes').html(data.dislikes);
            });
        }

        like = function() {
                $.post('/like/{{image}}', function(d){
                    $("#likes").html(d);
                })
            }

        dislike = function() {
                $.post('/dislike/{{image}}', function(d){$("#dislikes").html(d);})
            }


        main = function(){
            load_image_data("{{image}}");
            $("#ll").click(like)
            $("#dl").click(dislike)
        };
        $(main);
    </script>
{% end %}

